body {
   background-color: #76b1b3;
   color:rgb(24, 23, 23);

   font-size: 16px;
   font-weight: 600;
   font-family: 'Lucida Sans', 'Lucida Sans Regular',
    'Lucida Grande', 'Lucida Sans Unicode',
     Geneva, Verdana, sans-serif;
}

a {
    color: black;
    text-decoration:none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: blue;
}

.avatar {
    width: 400px;
    border-radius: 42px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 25);
}
.info p {
    color:rgb(43, 7, 7);

    margin: 0;
    font-style: italic;
    /*font-weight: bold;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 5px;
    word-spacing: 15px; */
}

/* Box Model */
.container {
    width: 750px;;
    margin:auto


}
/*
.Why {
background: rgb(103, 100, 193) ;
padding: 15px;
border: 5px solid rgb(174, 65, 65);
margin: 20px;
}
*/

/* .box-model div {
    float:left;
    background: rgb(0, 0, 0);
    height: 200px;
    width: 25%;
    border: 4px solid red;
    box-sizing: border-box;
} */

.bg-yellow {
    background: #fff9dc;
}

.bg-green {
    background: #e5ffe7;
}

.bg-red {
    background: #ffe5e5;
}
.bg-blue {
    background:rgb(174, 222, 243)
}


.card {
    padding: 15px 20px;
    
    margin-bottom:20px;
    border-radius:20px
}

.obeme {
    margin-top: 100px;
    margin-left: 100px;
}

.img {
    margin-left: 150px;
}
.list  li {
 color: #f66a8d;
 padding: 0 20px;
}

.table {
    width: 100% ;
}

.table td {
    padding-bottom: 10px;
}

.table tr:nth-child(even) {
    background: #f7adbf;
}

.linklist {
    list-style: url('2437919.png');
    list-style-position:inherit;

}
.plist {
    padding: 0;
}
.linklist {
    border-bottom: 2px solid rgb(241, 146, 146);
}

.contact h2 {
    text-align: center;
}

.form-group  label {
    display: block;
    font-size: 14px;
    color: #86898f;
}

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.row > .form-group {
    width: 50%;
    margin-right: 50px;
}

.row > .form-group:first-child {
    margin-right: 20px;
}